version: "3.8"

services:
  db:
    image: mysql:5.7
    restart: always
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:6.5.3-php8.2-apache
    restart: always
    ports:
      - "8080:80"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
